@page "/"
@page "/index.html"
@inject IJSRuntime JsRuntime
@using nkast.Wasm.Canvas

<PageTitle>Beefball</PageTitle>

<div id="canvasHolder" style="
    margin:0%;
    position: fixed;
    background: #000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
">
    <canvas id="theCanvas" style="touch-action:none;"></canvas>
</div>
