*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
FormsSampleProject/FormsSampleProject/bin/
FormsSampleProject/bin/
FormsSampleProject/FormsSampleProject/obj/
FormsSampleProject/obj/
FormsSampleProject/Content/obj/
!FormsSampleProject/x64
!FormsSampleProject/x86
!FormsSampleProject/Libraries
