*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
AdMobFrb/AdMobFrb/bin/
AdMobFrb/bin/
AdMobFrb/AdMobFrb/obj/
AdMobFrb/obj/
AdMobFrb/Content/obj/
!AdMobFrb/x64
!AdMobFrb/x86
!AdMobFrb/Libraries
