*/obj/*
obj/*
obj/
*.userprefs
*.suo
bin/
*.user
*.cachefile
Thumbs.db
*.aeproperties
*.csvSettings
FRBDK/Glue/.vs/
Tests/GlueTestProject/GlueTestProject/GlueTestProject/CopiedXnbs/
*.Generated.cs
*.Generated.Event.cs
Exports/
Tests/uwpTest/
Tests/GumBehaviors/
Tests/GlueTestProject/GlueTestProject/GlueTestProject/GlueViewSettings.gvwx
FRBDK/NewProjectCreator/.vs/NewProjectCreator/v15/sqlite3/storage.ide
storage.ide
*.csv#
Engines/Forms/FlatRedBall.Forms/.vs/
Tests/GlueTestProject/.vs/
Engines/FlatRedBallXNA/FlatRedBall/.vs/
FRBDK/GlueView/GlueView/.vs/
Engines/WebGl/.vs/
Templates/FlatRedBallAndroidTemplate/.vs/
*.bak
Templates/FlatRedBallUwpTemplate/.vs/FlatRedBallUwpTemplate/v15/Server/sqlite3/db.lock
Templates/FlatRedBallUwpTemplate/.vs/FlatRedBallUwpTemplate/v15/Server/sqlite3/storage.ide-shm
Templates/FlatRedBallUwpTemplate/.vs/FlatRedBallUwpTemplate/v15/Server/sqlite3/storage.ide-wal
FRBDK/NewProjectCreator/.vs/
FRBDK/BuildServerUploader/.vs/
Templates/FlatRedBallDesktopGlTemplate/.vs/
FRBDK/FRBDKUpdater/.vs/
FRBDK/Glue/GameScriptingPlugin/.vs/
FRBDK/AnimationEditorPlugin/.vs/
*.mainplugin.settings.json
Templates/FlatRedBallUwpTemplate/.vs/
FRBDK/GlueView2Test/packages/
FRBDK/GlueView2Test/.vs/
FRBDK/GlueView2/packages/
Templates/FlatRedBalliOSTemplate/.vs/
Templates/FlatRedBallXna4Template/.vs/
Engines/FlatRedBallXNA/Standard/FlatRedBallStandard/.vs/
Templates/FlatRedBallCrossPlatformTemplate/.vs/
FRBDK/AnimationEditor/.vs/
FRBDK/NewProjectCreator/packages/
.idea/
.running*/
FRBDK/BuildServerUploader/packages/
FRBDK/AnimationEditor/packages/*
Tests/GlueTestProject/packages/*
Tests/GlueTestProjectDesktopGl/packages/*
