*/obj/*
obj/*
obj/
*.userprefs
*.suo
bin/
*.user
*.cachefile
Thumbs.db
*.aeproperties
*.csvSettings
FRBDK/Glue/.vs/
Tests/GlueTestProject/GlueTestProject/GlueTestProject/CopiedXnbs/
*.Generated.cs
*.Generated.Event.cs
Exports/
Tests/uwpTest/
Tests/GumBehaviors/
Tests/GlueTestProject/GlueTestProject/GlueTestProject/GlueViewSettings.gvwx
Templates/FlatRedBallDesktopGlLinuxTemplate/FlatRedBallDesktopGlTemplate/x86/
