**/.vs
**/obj
**/packages
*.Generated.Event.cs
*.Generated.cs
*.aeproperties
*.bak
*.cachefile
*.csv#
*.csvSettings
*.suo
*.user
*.userprefs
.idea/
.running*/
Exports/
FRBDK/Glue/GumPlugin/GumPlugin/Embedded/GumDefaults2/EventExport/*
Tests/GlueTestProject/GlueTestProject/GlueTestProject/CopiedXnbs/
Tests/GlueTestProject/GlueTestProject/GlueTestProject/GlueViewSettings.gvwx
Tests/GumBehaviors/
Tests/uwpTest/
Thumbs.db
bin/
storage.ide

# AnimationEditor doesn't build in TeamCity, so let's add this in:
!/FRBDK/AnimationEditor/PreviewProject/bin/
FRBDK/AnimationEditor/PreviewProject/bin/Debug/AESettings.json
*.settings.user.json
Tests/GlueTestProjectDesktopGl/GlueTestProjectDesktopGl/GlueSettings/TreeViewPlugin.settings.user.json
/Samples/BeefballCodeOnly/BeefballCodeOnly/.config
