<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="9f399167-c6da-44c0-93f7-43afd71af434" Publisher="CN=vchelaru" Version="1.0.0.0" />
  <Properties>
    <DisplayName>GlueTestProject</DisplayName>
    <PublisherDisplayName>vchelaru</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>GlueTestProject</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="GlueTestProject.App">
      <VisualElements DisplayName="GlueTestProject" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="GlueTestProject" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>