<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="KellermanSoftware.CompareNETObjects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
  <KellermanSoftware.CompareNETObjects.Properties.Settings>
   <setting name="CompareStaticFields" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CompareStaticProperties" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ComparePrivateProperties" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ComparePrivateFields" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CompareChildren" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CompareReadOnly" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CompareFields" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CompareProperties" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Caching" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoClearCache" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MaxDifferences" serializeAs="String">
    <value>1</value>
   </setting>
  </KellermanSoftware.CompareNETObjects.Properties.Settings>
 </userSettings>
</configuration>
