*.user
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
ChickenClicker/ChickenClicker/bin/
ChickenClicker/bin/
ChickenClicker/ChickenClicker/obj/
ChickenClicker/obj/
ChickenClicker/Content/obj/
!ChickenClicker/x64
!ChickenClicker/x86
!ChickenClicker/Libraries
