*.user
*.user.*
*.aeproperties
.vs/
*.tmp
*.Generated.cs
*.Generated.Event.cs
*.generatedpreview.png
*.ods#
TiledObjects.Generated.xml
*.cachefile
*.csvSettings
*.sln.metaproj
packages/
SkiaSampleProject/SkiaSampleProject/bin/
SkiaSampleProject/bin/
SkiaSampleProject/SkiaSampleProject/obj/
SkiaSampleProject/obj/
SkiaSampleProject/Content/obj/
!SkiaSampleProject/x64
!SkiaSampleProject/x86
!SkiaSampleProject/Libraries
